.App {
  background-color:white;
  background-color:FAFAFA;

  font-family: 'Times New Roman', Times, serif;
}
section {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0
}

.bookCard {
  align-items: center;
  gap: 20px;
}


